.main{
    width: 980px;
    height: 455px;
    /* background-color: pink; */
    margin-left: 210px ;
    margin-top: 10px;
}
.focus{
    float: left;
    width: 721px;
    height: 100%;
    background-color: red;
}
.newflash{
    float: right;
    width: 250px;
    height: 100%;
    /* background-color: skyblue; */
    border: 1px solid #e4e4e4;

}
.firstnew{
    height: 180px;
    /* background-color: pink; */
}
.secoendnew{
    height: 195px;
    /* background-color: red; */
    border-top: 1px solid #e4e4e4;
}
.img{
    margin-top: 5px;
    height:75px ;
    background:url(/css/综合案例2/upload/bargain.png);
}
.newstop{
    height: 30px;
    border-bottom: 2px dotted #e4e4e4;
    line-height: 30px;
    font-size: 14px;
}
.newsleft{
    float: left;
    margin-left: 10px;
}
.newsleft h5{
    font-size: 14px;
}
.newsright{
    float: right;
    margin-right: 10px;
}
.newslist{
    margin-top: 15px;
   margin-left: 10px;
}
.newslist ul li {
    margin-top: 7px;
}
.secoendnew ul li{
    float: left;
    width: 62px;
    height: 65px;
    border-right: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    text-align: center;
}
.secoendnew ul li i{
    display: inline-block;
    width: 24px;
    height: 28px;
    
    margin-top: 10px;
    background:url(/css/综合案例2/images/icons.png) -19px -15px no-repeat;
}
.secoendnew ul li i:nth-child(2){
    position: relative;
}
/* .jian{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    right: 0;
} */
.recom{
    height: 163px;
    margin-top: 12px;
    /* background-color: pink; */
}
.recom_hd{
    float: left;
    width: 205px;
    height: 100%;
    background-color: #5c5251;
    padding-top: 30px;
    text-align: center;
    /* background: url(/css/综合案例2/images/recom.png) no-repeat; */
}
.recom_bd{
    float: left;
}
.recom_bd ul li{
    position: relative;
    float: left;
}
.recom_bd ul li:nth-child(-n+3):after {
    content: '';
    position: absolute;
    width: 1px;
    height: 145px;
    right: 0;
    top: 10px;
    background-color: #ddd;
}
.recom_bd ul li img{
    width: 248px;
    height: 163px;
}
.box_hd{
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box_hd h3{
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}
.tab_list{
    float: right;
    line-height: 30px;
} 
.tab_list ul li{
    float: left;
}
.tab_list ul li a{
    margin: 0 15px;
}
.floor .w{
    margin-top: 30px;
}
.box_bd{
    height: 361px;
    /* background-color: pink; */
}
.tab_list_item>div{
    float: left;
    height: 361px;
    border-right: 1px solid #ddd;
}
.col_210{
width: 210px;
background-color: #f9f9f9;
text-align: center;
}
.col_210 ul li{
    height: 31px;
    width: 85px;
float: left;
text-align: center;
line-height: 31px;
margin-left: 10px;
margin-top: 10px;
border-bottom: 1px solid #ddd;
}
.col_329{
    width: 329px;
}
.col_221{
    width: 221px;
}
.col_219{
    width: 219px;
}
.bb{
    display: block;
    border-bottom: 1px solid #ddd;
}