.sk{
    position: absolute;
    margin-top: 45px;
    margin-left: 200px;
    border-left: 1px solid red ;
    padding-left: 30px;
}
.sk img{
    width: 100%;
    height: 100%;
}
.llist{
    float: left;
}
.rlist{
    float:right;
    margin-right: 150px;
}
.llist ul li{
    float: left;
}
.llist ul li a{
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
}
.rlist ul li {
    float: right;
}
.rlist ul li a{
    display: block;
    line-height: 47px;
    padding: 0 14px;
    font-size: 12px;
    
}
.con_top{
    height: 120px;
}
.con_bom ul li{
    float: left;
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
}
.con_bom ul li:hover{
    border: 1px solid #c83821;
}