.w{
    width:  1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    border-bottom: 2px solid #c83423;
}
.logo{
    padding-top: 18px;
}
.register{
    margin-top: 20px;
    height: 522px;
    border: 1px solid #ccc;
}
.register h3{
    height: 43px;
    border-bottom: 1px solid #ccc;
    background-color: #cfd6d6d7;
    line-height: 43px;
    font-size: 16px;
    padding-left: 20px;
 
}
.login{
    float: right;
    padding-right: 20px;
    font-size: 12px;font-weight: normal;
}
.reg_form{
    height: 600px;
    background-color: pink;
    margin: 50 auto;
}